    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Josefin Sans', sans-serif;
        color: black;
        background-color: white;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Red Rose', cursive;
    }
    
    .header-box {
        background-color: #050505;
        margin-top: 50px;
        width: 95%;
        height: 80vh;
        z-index: -2;
        border-radius: 10px;
        box-shadow: 10px 5px 28px 20px rgba(169, 169, 169, 0.514);
    }
    
    .img-fluid {
        position: fixed;
        top: 270px;
        left: 43%;
        background-color: transparent;
        width: 200px;
        height: 200px;
        z-index: 0;
    }
    
    .logo {
        text-align: center;
        border: 4px double #900d0d;
        color: #cf1b1b;
        width: 20%;
        box-shadow: 10px 5px 18px rgba(109, 109, 109, 0.842);
        font-family: 'Grenze Gotisch', cursive;
    }
    
    .nav-item ul,
    li {
        border-right: 1px outset rgba(240, 240, 240, 0.267);
    }
    
    .nav-item a {
        color: black;
    }
    
    .nav-item a:hover {
        background-color: brown;
        color: white;
    }
    
    .logoimage {
        width: 100px;
        height: 100px;
    }
    
    .login-button {
        position: absolute;
        top: 1rem;
        right: 2rem;
    }
    
    .signup-button {
        position: absolute;
        top: 1rem;
        right: 8rem;
    }
    
    .glass-icon {
        position: absolute;
        top: 1rem;
        left: 50%;
    }
    
    .welcome-msg-h1 {
        position: absolute;
        top: 350px;
        left: 4rem;
        font-size: 4rem;
        color: white;
        z-index: 2;
        background-color: transparent;
        font-family: 'Orbitron', sans-serif;
    }
    
    .welcome-msg-h2 {
        position: absolute;
        top: 530px;
        left: 10rem;
        color: rgba(255, 255, 255, 0.849);
        z-index: 2;
        background-color: transparent;
        font-family: 'Red Rose', cursive;
    }
    
    .welcome-msg-p {
        position: absolute;
        top: 600px;
        left: 10rem;
        right: 50rem;
        color: rgba(255, 255, 255, 0.815);
        z-index: 2;
        background-color: transparent;
    }
    
    .goDown {
        position: absolute;
        top: 650px;
        left: 55rem;
        right: 12rem;
        color: rgb(255, 255, 255);
        z-index: 2;
    }
    
    .about-title {
        margin-left: 12rem;
        color: #050505;
        font-size: 3rem;
        z-index: 2;
        background-color: transparent;
        font-family: 'Red Rose', cursive;
    }
    
    .about-p-left {
        margin-left: 4rem;
        margin-right: 49rem;
        color: #050505;
        z-index: 2;
        background-color: transparent;
    }
    
    .about-p-right {
        margin-left: 50rem;
        margin-right: 4rem;
        color: #050505;
        z-index: 2;
        background-color: transparent;
    }
    
    .right-h3 {
        margin-left: 55rem;
        margin-right: 12rem;
        color: #050505;
        z-index: 2;
        font-family: 'Red Rose', cursive;
    }
    
    .img-fluid-left {
        margin-left: 3rem;
        width: 36rem;
        height: 300px;
        border-radius: 5px;
        border-style: groove;
    }
    
    .img-fluid-right {
        margin-left: 46rem;
        width: 37rem;
        height: 300px;
        border-radius: 5px;
        border-style: groove;
    }
    
    .wine-container-1 {
        background-color: transparent;
    }
    
    .wine-item-left {
        position: absolute;
        top: 3rem;
        left: 3rem;
        width: 400px;
        height: 180px;
        border: 3px double goldenrod;
    }
    
    .wine-item-left p {
        margin-top: 10px;
    }
    
    #dollar {
        font-size: 1.5rem;
        font-weight: 500;
    }
    
    .sample-wine {
        position: absolute;
        top: 2rem;
        left: 14rem;
        width: 150px;
        height: 250px;
        background-color: transparent;
    }
    
    .wine-item-right {
        position: absolute;
        top: 3rem;
        left: 55rem;
        width: 400px;
        height: 180px;
        border: 3px double goldenrod;
    }
    
    .wine-item-right p {
        margin-top: 10px;
    }
    
    .wine-container-2 {
        background-color: transparent;
        margin-top: 25rem;
    }
    
    .wine-container-3 {
        background-color: transparent;
        margin-top: 50rem;
    }
    
    .footer-box {
        position: absolute;
        top: 210rem;
        width: 100%;
        z-index: -1;
    }
    
    .footer-box li {
        list-style-type: none;
        padding-left: 7rem;
        padding-right: 10rem;
        margin-right: 12rem;
    }
    
    .footer-box th {
        padding-left: 10rem;
        text-align: left;
    }
    
    .copyright {
        position: sticky;
        top: 270px;
        left: 72rem;
    }